<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>organic-electronics.org</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
<link rel="icon" type="image/png" href="/img/neo.ico" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">


</head>



  <!-- ======= Header ======= -->
  
<header id="header" class="d-flex align-items-center header-inner">

    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href="/" class="scrollto" style=" margin-left: 21px;
        color: white;
        font-size: 25px;">  ICOE-2022</a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0" >
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
       
          <li class="nav-item dropdown">
            <a class="nav-link scrollto dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ICOE-2022
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/icoe">ICOE-2022</a></li>
              <li><a class="dropdown-item" href="/speakersandkeynotes">Keynote and Plenary Speakers</a></li>
              <li><a class="dropdown-item" href="/importantDates">Important Dates  & Payment Details </a></li>
              <li><a class="dropdown-item" href="/organisingcomitee">Organizing Committee</a></li>
              <li><a class="dropdown-item" href="/registrationguidelines" > Registration Details </a></li>
              
           
            
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/publicationPublisher">Publication Partners </a></li>
          <li><a class="nav-link scrollto" href="/advisory"> Advisory Board</a></li>
       
          <a class="buy-tickets scrollto" href="/Login" style="color: white;    padding: 8px 24px;">Log In</a>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
     


    </div>
  </header><!-- End Header -->
<body>
  
<div class="container mt-5">

    <div class="row">
    
      <div class="col-sm-8" style="margin: 33px 0px;">
        <div class="card y6 y61">
          <div class="card-body"  style="width: 100%;">
  
           
            <form action="/forgot-password"   id="my_form" method="POST" >
              <%  if(typeof err != 'undefined'){  %>
                <div class="alert alert-dissmissible alert-<%=ty%>">
                  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                  <strong><%= err %> </strong>
                
                </div>
                
                
                        <%    } %> 
            
              <div class="form-group">
                <h1 class=""> Reset Password </h1>
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username" <%=dis%> required>
              </div>
             
              <button type="submit" style="margin: 7px 0px;     background: #059862;" class="btn btn-primary y61 border:none; outline: none; background:#059862" <%=dis%>>Send Link</button>
            </form>
           
          </div>
        </div>
      </div>
  </div></div>
  <%- include('partials/footer') %>
  <script>
  
var $myForm = $("#my_form");
$myForm.submit(function(){
    $myForm.submit(function(){
        return false;
    });
});

  </script>