<%- include('partials/header2') %>
<div class="col-lg-7"  style="text-transform: capitalie; " >


    <div class="card inside" style="margin:auto">

<div style="height: 100px;"></div>
           
      
    <h3  style="margin-top: 0%; text-transform: capitalie; text-align: center; margin-left: 1%;margin-right: 1%; ">Requests for <%=ty %></h3>

    <ul style="list-style-type: none;">
        <li style="margin-top: 1%;">Name : <span style="text-transform: uppercase;"><%=fname%> <%=lname%></span> </li> 
     
                  <li style="margin-top: 1%;"> Address : <%=address%></li>
                  <!-- <li style="margin-top: 1%;"> Type : <%=ty%></li> -->
   
       


     </ul>
    </div>
</div>

<%- include('partials/footer') %>
