<%- include('partials/header2') %>
<div class="container">
  <div class="" style="height: 100px;"></div>
   <h2 style="margin-bottom: -50px;"  style="margin-bottom: -50px;" class="text-center">Patrons</h2>
  <main id="main">
    <!-- ======= Speakers Section ======= -->
    <section id="speakers" class="container">
      <div class="container " data-aos="fade-up">
      

        <div class="row" >
          <div class="col-lg-2"></div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="/img/oc/1.jpg" alt="Speaker 1" class="img-fluid imageResizer2">
              <div class="details">
                <h3><a >
                  <!--  -->Shri P. K. Gupta

                </a></h3>
                
                <div class="social">
                  <p> 
Chancellor, Sharda University
<!--  -->
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="/img/oc/2.jpg" alt="Speaker 1" class="img-fluid imageResizer2">
              <div class="details">
                <h3><a >
                  <!--  -->Shri Y. K. Gupta

                </a></h3>
                
                <div class="social">
                  <p> 
Pro-Chancellor, Sharda University
<!--  -->
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      </section>
      </main>
       <h2 style="margin-bottom: -50px;"  class="text-center">Co-Patrons</h2>
      <main id="main">
        <!-- ======= Speakers Section ======= -->
        <section id="speakers" class="container">
          <div class="container " data-aos="fade-up">
          
    
            <div class="row" >
              <div class="col-lg-2"></div>
              <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                  <img src="/img/oc/3.jpg" alt="Speaker 1" class="img-fluid imageResizer2">
                  <div class="details">
                    <h3><a >
                      <!--  -->
                      Mr. Prashant Gupta
                     
                      
                      
                    </a></h3>
                    
                    <div class="social">
                      <p> 
                        <!--  --> CEO, Sharda Group
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                  <img src="/img/oc/4.jpg" alt="Speaker 1" class="img-fluid imageResizer2">
                  <div class="details">
                    <h3><a >
                      <!--  -->Dr. Sibaram Khara
    
                    </a></h3>
                    
                    <div class="social">
                      <p> 
Vice-Chancellor, Sharda University
<!--  -->
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
          </section>
          </main>
       

           <h2 style="margin-bottom: -50px;"  class="text-center">Chairpersons</h2>
          <main id="main">
           
            <section id="speakers" class="container">
              <div class="container " data-aos="fade-up">
              
        
                <div class="row text-center" >
                  <div class="col-lg-2"></div>
                 
                  <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                      <img src="/img/teamspeakers/30.jpg" alt="Speaker 1" class="img-fluid imageResizer2 text-center">
                      <div class="details">
                        <h3><a >
                          <!--  -->Prof. Shyamal Kumar Banerjee
        
                        </a></h3>
                        
                        <div class="social">
                          <p> 
    Dean SBSR, Sharda University <br>
    
    <a target="_blank"  href="https://www.researchgate.net/profile/Shyamal-Banerjee-4"><img style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src="https://img.icons8.com/windows/24/000000/researchgate.png"/></a>
    <a target="_blank"  href="https://www.linkedin.com/in/prof-shyamal-banerjee-a5211012/?originalSubdomain=in"><img class="" style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=c%>></a>
   
    <!--  -->
                          </p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
             


                  
                  <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                      <img src="/img/advisoryspeakers/2.jpg" alt="Speaker 1" class="img-fluid imageResizer2 text-center">
                      <div class="details">
                        <h3><a >
                          <!--  -->Prof. R. C. Singh
        
                        </a></h3>
                        
                        <div class="social">
                          <p> 
    Professor, Sharda University <br>
 
    <a target="_blank"   href=" https://scholar.google.co.in/citations?user=zLnSfm4AAAAJ&hl=en"><img class="iconResizer" src=<%=a%>></a>
    <a target="_blank"  href="https://www.researchgate.net/profile/R-C-Singh"><img style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src="https://img.icons8.com/windows/24/000000/researchgate.png"/></a>
    <a target="_blank"  href="https://www.linkedin.com/in/dr-r-c-singh-72930253/?originalSubdomain=in"><img class="" style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=c%>></a>
   
    <!--  -->
                          </p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
              </div>
              </section>
              </main>


               <h2 style="margin-bottom: -50px;"  class="text-center">Conveners</h2>
                  <main id="main">
        <!-- ======= Speakers Section ======= -->
        <section id="speakers" class="container">
          <div class="container " data-aos="fade-up">
          
    
            <div class="row" >
              <div class="col-lg-2"></div>
              <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                  <img src="/img/teamspeakers/1.jpg" alt="Speaker 1" class="imageResizer2">
                  <div class="details">
                    <h3><a>Prof. Geeta Durga </a></h3>
                    
                <div class="social" >
                  <p> Professor, SBSR
                    <br>Sharda University
        <br>             
                      <a target="_blank"  href="https://scholar.google.com/citations?user=4y1GL-kAAAAJ&hl=en"><img style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=a%>></a>
                      
                      <a target="_blank"  href="https://www.linkedin.com/in/geeta-arora-durga-28ab141b/?originalSubdomain=in"><img  style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=c%>></a>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                  <img src="/img/teamspeakers/2.jpg" alt="Speaker 2" class="img-fluid imageResizer2">
                    <div class="details">
                      <h3><a>Prof. Pramod K. Singh</a></h3>
                      <div class="social">
                        <p> Professor, SBSR
                          <br>Sharda University
                           <br>
        
                        <a target="_blank"  href="https://scholar.google.com/citations?user=PPls5mcAAAAJ&hl=en"><img  class="" style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=a%>></a>
                        <a target="_blank"  href="https://orcid.org/0000-0002-3155-6621"><img class="" style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=b%>></a>
        
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
          </section>
          </main>
             


               <h2 style="margin-bottom: -50px;"  class="text-center">Co-Conveners</h2>
              <main id="main">
               
                <section id="speakers" class="container">
                  <div class="container " data-aos="fade-up">
                  
            
                    <div class="row text-center" >
                      <div class="col-lg-2"></div>
                      <div class="col-lg-4 col-md-6">
                        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                          <img src="/img/oc/9.jpg" alt="Speaker 1" class="img-fluid imageResizer2 text-center">
                          <div class="details">
                            <h3><a >
                              <!--  -->Dr. Anupam Agarwal
            
                            </a></h3>
                            
                            <div class="social">
                              <p> HOD, SBSR
       <br>Sharda University
        
        <!--  -->
                              </p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                     
                      <div class="col-lg-4 col-md-6">
                        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                          <img src="/img/oc/5.jpg" alt="Speaker 1" class="img-fluid imageResizer2 text-center">
                          <div class="details">
                            <h3><a >
                              <!--  -->Prof. Vinay Kr. Verma
            
                            </a></h3>
                            
                            <div class="social">
                              <p> Professor, SBSR
       <br>Sharda University
        
        <!--  -->
                              </p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2"></div>
                    </div>
                  </div>
                  </section>
                  </main>

                   <h2 style="margin-bottom: -50px;"  class="text-center">Organizing Secretary</h2>
                  <main id="main">
                   
                    <section id="speakers" class="container">
                      <div class="container " data-aos="fade-up">
                      
                
                        <div class="row text-center" >
                          <div class="col-lg-4"></div>
                         
                          <div class="col-lg-4 col-md-6">
                            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                              <img src="/img/teamspeakers/6.jpg" alt="Speaker 6" width="100%" class="img-fluid imageResizer2">
                              <div class="details detailss">
                                <h3><a>Dr. Mridula Guin</a></h3>
                                <div class="social">
                                  <p>Assistant Professor, SBSR  <br> Sharda University</p>
                                  <a target="_blank"  href="https://orcid.org/0000-0003-2442-1646"><img class="" style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=b%>></a>
                                  <a target="_blank"  href="https://scholar.google.co.in/citations?user=wjI0aKsAAAAJ&hl=en"><img class="" style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=a%>></a>
                  
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-4"></div>
                        </div>
                      </div>
                      </section>
                      </main>

                       <h2 style="margin-bottom: -50px;"  class="text-center">Treasurer</h2>
                      <main id="main">
                       
                        <section id="speakers" class="container">
                          <div class="container " data-aos="fade-up">
                          
                    
                            <div class="row text-center" >
                              <div class="col-lg-4"></div>
                             
                              <div class="col-lg-4 col-md-6">
                                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                                  <img src="/img/oc/6.jpg" alt="Speaker 6" width="100%" class="img-fluid imageResizer2">
                                  <div class="details detailss">
                                    <h3><a>Dr. Ashish Chalana</a></h3>
                                    <div class="social">
                                      <p>Assistant Professor, SBSR <br> Sharda University</p>
                                      
                                      <a target="_blank"  href="https://in.linkedin.com/in/dr-ashish-kumar-chalana-82120717a"><img  style="width: 24px;height: 24px;background: #019961;border-radius: 50%;" src=<%=c%>></a>
                                   
                                    </div>
                                </div>
                              </div>
                              <div class="col-lg-4"></div>
                            </div>
                          </div>
                          </section>
                          </main>
    

<div class="container comPara"  style="margin-top: 40px;margin-left: 5px;">
	
<div class="container comPara" style="margin-top: 50px;margin-bottom: 50px; background-color: #F6F7FD;">
<div class=" row "  >
    <div class="col-lg-6" >
        <h2  style="margin-bottom: -1px;">National Steering Committee</h2>
        <p>Prof. B. Bhattacharya, BHU</p>
        <p>Prof. A. K. Narula, GGSIPU	</p>
        <p>Prof. V. Siva Kumar, NIT-Rourkela</p>
        <p>Dr. Roopali Prajapati Sharma, Ace Lithium Pvt. Ltd. 	</p>
        <p  style="margin-bottom: 15px;">Dr. Ravi Dhamija, YMCA</p>

   

    </div>


    <div class="col-lg-6">
        <h2  style="margin-bottom: -1px;">Local Organizing Committee </h2>
        <div class="row ">
        <div class="col-lg-6">

<p>Prof. R. M. Mehra, SU</p>
<p>Prof. Ajay Tyagi, SU </p>
<p>Dr. Anandita De, SU </p>

<p>Dr. Richa Tomar, SU	</p>
<p>Dr. V. Srivastava, SU 	</p>

<p>Dr. Munendra SIngh, SU</p>
<p>Dr. Venus Dillu , SU </p>

<p>Dr. Sunil Chauhan, SU</p>
<p>Dr. Suman Lata, SU	</p>


<p>Dr. N. Srivastava, SU 	</p>
<p>Mr. Subrajeet Konwar, SU</p>

    </div>

    <div class="col-lg-6">
      
      
        <p>Dr. P. Sarkar, SU </p>
        
        <p>Dr. K. Alam, SU 	</p>
        <p>Dr. S Narayanan, SU </p>
        
        <p>Dr. Sandhya Gupta, SU 	</p>
        <p>Dr. Anupam Agarwal, SU 	</p>
        
        <p>Dr. 	Preeti Jain, SU</p>
        <p>Dr. Sonia Khanna, SU </p>
        
        <p>Dr. Mohit Sahni , SU </p>
        <p>Dr.  Pargin Bangotra, SU </p>
        
        <p>Dr. Preeti Rani, SU 	</p>
        <p>Dr. K. K. Pandey , SU </p>
        
            </div>
        
</div>
</div>
</div>
</div>
</div>
</div>
<%- include('partials/footer') %>
