<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>organic-electronics.org</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
<link rel="icon" type="image/png" href="/img/neo.ico" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">


</head>



  <!-- ======= Header ======= -->
  
<header id="header" class="d-flex align-items-center header-inner">

    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href="/" class="scrollto" style=" margin-left: 21px;
        color: white;
        font-size: 25px;">  ICOE-2022</a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0" >
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
       
          <li class="nav-item dropdown">
            <a class="nav-link scrollto dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ICOE-2022
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/icoe">ICOE-2022</a></li>
              <li><a class="dropdown-item" href="/speakersandkeynotes">Keynote and Plenary Speakers</a></li>
              <li><a class="dropdown-item" href="/importantDates">Important Dates  & Payment Details </a></li>
              <li><a class="dropdown-item" href="/organisingcomitee">Organizing Committee</a></li>
              <li><a class="dropdown-item" href="/registrationguidelines" > Registration Details </a></li>
              
           
            
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/publicationPublisher">Publication Partners </a></li>
          <li><a class="nav-link scrollto" href="/advisory"> Advisory Board</a></li>
       
          <a class="buy-tickets scrollto" href="/Login" style="color: white;    padding: 8px 24px;">Log In</a>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
     


    </div>
  </header><!-- End Header -->
<body>
  

<section>
 
  <div class="container">
 

    <div class="row">
      <div class="col-sm-8">
        <div class="card y6 y61" style="    margin: 90px 0px;
        margin-bottom: 20px;">
          <div class="card-body"  style="width: 100%;">
  
          
            <form action="/reset-password/<%=idis%>/<%=tokent%>/" id="my_form" method="POST" >
              <%  if(typeof err != 'undefined'){  %>
                <div class="alert alert-dissmissible alert-<%=ty%>">
                  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                  <strong><%= err %></strong>
                
                </div>
                
                
                        <%    } %> 
  
              <div class="form-group">
                <h1 class=""> Set Password </h1>
                <label for="password">Password</label>
                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain Atleast one number and one uppercase and lowercase letter, Aleast 8 or more characters" id="pwdText" class="form-control" name="password" <%=dis%> required>
               
              </div>
              <div class="form-group">
                  <label for="confirm-password">Confirm Password</label>
                  <input type="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain Atleast one number and one uppercase and lowercase letter, Aleast 8 or more characters" id="pwdText2" class="form-control" name="password2" required <%=dis%>>
                  <input type="checkbox" onclick="myFunction()"  <%=dis%>> Show Password
                </div>
                <input value="<%=username%>" type="hidden" name="em">
              <button type="submit" class="btn btn-primary y61 border:none; outline: none;" style="background: #059862;"  <%=but%> >Reset-password</button>
            </form>
           
          </div>
   
        </div>
        <div class="col-sm-8 col-lg-12 col-md-10 gig ">
          <div class=" cen0"><form action="/login">
            <button class="btn btn-primary btn-block buts" id="butto"  type="submit" style="background: #059862;font-family: Montserrat;border:none;outline: none;display: <%=none%>">Login</button>
            </form>
          </div>
          </div>
      </div>
      </div>
  
    
      </div>
</section>

    


 




<%- include('partials/footer') %>
<script>
  
  function myFunction() {
  var x = document.getElementById("pwdText");
  var y = document.getElementById("pwdText2");
  if (x.type && y.type === "password") {
    x.type = "text";
    y.type = "text";
  } else {
    x.type = "password";
    y.type = "password";
  }
}


var $myForm = $("#my_form");
$myForm.submit(function(){
    $myForm.submit(function(){
        return false;
    });
});


</script>