<%-include('partials/header2')%>



    <!-- ======= Speaker Details Sectionn ======= -->


  


         

  


    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="container">
      <!-- ======= Speaker Details Sectionn ======= -->
      <section id="speakers-details">
       
         
        <div class="section-header">
          <h2 style="margin-top: 50px;">Plenary Speakers</h2>
          
        </div>

       
        <div class="row" >
   
          <div class="col-lg-4">
            <img style="height: 290px;width: 90%;" src="/img/speakers/13.jpg" alt="Speaker 2" class="img-fluid">
          </div>
        
          <div class="col-lg-8">
            <div class="details">
                  <h2 style="margin-top: 0px;"> Prof. Clara Santato</h2>
              <div class="social">
        
             
                <a target="_blank"  href="https://scholar.google.ca/citations?user=h8hGZzAAAAAJ&hl=en"><img src=<%=a%>/></a>
                <a target="_blank" href=" https://orcid.org/0000-0001-6731-0538"><img src=<%=b%>/></a>
                <a target="_blank" href="https://www.linkedin.com/in/clara-santato-006b5a25/?originalSubdomain=ca"><img src=<%=c%>/></a>
      
        
              </div>
              <p style="text-align: justify;"> 
      
                Prof. Clara Santato (Ph.D. in Chemistry, University of Geneva) is Canada Research Chair (Tier 1) in Sustainable Organic Electronics: Materials, Processes, Devices. Clara is Full Professor at the Department of Engineering Physics of Polytechnique Montreal. Prior to her appointment, she worked as permanent research scientist for the National Research Council of Italy. She has been visiting scientists at the National Renewable Energy Laboratory, Purdue University and Cornell University. Her research background is in Organic Electronics (design, fabrication, and optoelectronic characterization of Organic Light-Emitting Field-Effect Transistors), Materials Science, and Electrochemistry (nanostructured materials for applications in photoelectrochemical solar energy conversion). 
                <br>
                <br>
                <br>
                <br>  </p>
                <br> <br>
               
            </div>
          </div>
        </div>
     
  
          <div class="row" >
           
            <div class="col-lg-4 col-md-12">
              <img style="height: 290px;width: 90%;" src="/img/speakers/12.png" alt="Speaker 1" class="img-fluid">
            </div>
  
            <div class="col-lg-8 col-md-12">
              <div class="details">
                    <h2 style="margin-top: 0px;">Prof. Agnieszka Joanna Pawlicka Maule</h2>
                <div class="social">
       
                  <a  target="_blank"  href="https://bv-fapesp-br.translate.goog/en/pesquisador/3592/agnieszka-joanna-
                  pawlicka-maule/?_x_tr_sl=pt&amp;_x_tr_tl=en&amp;_x_tr_hl=en&amp;_x_tr_pto=sc"><img style="height:24px;width:24px;background:transparent" class="iconImage" src="/img/ic.png"></a>

                
                 
                </div>
                <p style="text-align: justify;"> 
                  

                  Agnieszka Pawlicka obtained her master at Warsaw University of Technology in Poland and her PhD in Chemistry (Physical Chemistry) at University of São Paulo (USP), Brazil in 1993. She is currently professor at the University of São Paulo. She has published over 185 full papers in professional journals and 22 conference proceedings. She is the author of 3 books and 4 patents and has received 20 awards. In 2014 she received a scientific title of Professor of Chemistry from President of Poland Bronislaw Komorowski. She participated in several scientific international events and was a visiting professor at Warsaw University of Technology in Poland in 2008 and at University of Malaya, Malaysia in 2011; in 2012 and 2013 she was a visiting scholar at the lab of Prof. Jerzy Kanicki at the EECS of University of Michigan, MI, US. She is a member of the editorial board of two international journals and referee of more than 20 magazines and Brazilian and other international scientific sponsoring agencies. She was adviser of 18 master thesis and 12 PhD dissertations and is supervising pos-docs fellowships. Moreover, she was responsible for the Culture and Extension at IQSC-USP and Coordinator of Post-graduation course in Science and Engineering of Materials at USP. Her major is a chemistry and materials science with an emphasis on materials for electrochemical devices and development of electrochromic windows. She develops biodegradable hydrogels for application in agriculture too. The keywords related to her works are solid polymeric electrolytes, natural polymers, electrochromic devices, thin films, superabsorbent hidrogels, conductive polymers, electrochromism and ion conduction. (Source: Lattes Curriculum)
                  <br>
                  <br>
                  <br>
                  <br> </p>
                 
              </div>
            </div>
  </div>
  <div class="row" >
   
    <div class="col-lg-4">
      <img style="height: 290px;width: 90%;" src="/img/invitedSpeakers/4.jpg" alt="Speaker 2" class="img-fluid">
    </div>
  
    <div class="col-lg-8">
      <div class="details">
            <h2 style="margin-top: 0px;">Prof. Bouchta SAHRAOUI </h2>
        <div class="social">
  
       
          <a target="_blank"  href="https://scholar.google.com/citations?user=0f5OGPIAAAAJ&hl=en"><img src=<%=a%>/></a>
          <a target="_blank" href="https://orcid.org/0000-0002-3934-2839"><img src=<%=b%>/></a>

  
        </div>
        <p style="text-align: justify;"> 

          Professor Sahraoui is working as a professor at Institute of Sciences and Molecular Technologies of Angers, UMR CNRS 6200, Angers University, France. Professor SAHRAOUI [https://orcid.org/0000-0002-3934-2839] is a physicist specializing in nonlinear optical (NLO) materials and effects, nanophotonics, biophotonics, molecular photonic, as well as the electrical properties and energy applications. Professor Bouchta SAHRAOUI is member of the Institute of Sciences and Molecular Technologies of Angers (MOLTECHAnjou, UMR CNRS 6200). His contribution to the dynamic formation of photoinduced structuration and nanostructuration was foregrounded by the journal NaturePhotonics as a research highlight (Vol. 2, 2008). Moreover, Professor SAHRAOUI organized more than 25 prestigious conferences as a chair or co-chair and has published more than 400 peer-reviewed journal articles, he has more than 6450 citations and his Hirsch-index is currently 50 (cf. Web of Science). He is member of the editorial boards of five indexed and prestigious journals. He is a guest editor of 12 SI on energy and photonics applications. He has presented more than 50 invited and plenary lectures.
       
          <br><br><br>
          <br>

       </p>
         
      </div>
    </div>
  </div>

  <div class="row" >
   
    <div class="col-lg-4">
      <img style="height: 290px;width: 90%;" src="https://www.iitb.ac.in/mems/sites/www.mems.iitb.ac.in/files/article/images/dipti.jpg" alt="Speaker 2" class="img-fluid">
    </div>
  
    <div class="col-lg-8">
      <div class="details">
            <h2 style="margin-top: 0px;"> Prof. Dipti Gupta</h2>
        <div class="social">
  
       
          <a target="_blank"  href="https://scholar.google.co.in/citations?user=INGGp4AAAAAJ&hl=en"><img src=<%=a%>/></a>
          <!-- <a target="_blank" href=" https://orcid.org/0000-0001-6731-0538"><img src=<%=b%>/></a> -->
          <a target="_blank" href="https://www.linkedin.com/in/prof-dipti-g-416a046"><img src=<%=c%>/></a>

  
        </div>
        <p style="text-align: justify;"> 

          Dr. Dipti Gupta is working as a Professor at Metallurgical Engineering and Material science (MEMS) department, Indian Institute of Technology, Bombay (IITB), India. She received her Bachelors, Masters and Ph.D. degree in Materials and Metallurgical Engineering from IIT Kanpur in 2000, 2002 and 2007 respectively. Later she worked as a BK-21 Postdoctoral Fellow at Korea Advanced Institute of Science and Technology (KAIST), Korea and as an EPSRC Research Associate at Imperial College, London, U.K. in year 2008 and 2009, respectively. She was also with Department of Electrical Engineering, Seoul National University, Korea as BK Assistant Professor from 2009-2011. She is associated with National Center for Photovoltaic Research and Education (NCPRE), Center of Excellence in Nano electronics (CEN),IITB-Monash Research Academy (an initiative of IITB and Monash University) and Wadhwani Research Center for Bioengineering located(WRCB) at IIT Bombay, India. Her research interests are in the area of Flexible and Stretchable electronics, Wearable sensors for application in healthcare and energy applications. Her research activities are funded by competitive programs of Department of Science and Technology (DST), Government of India, The Indo-US Science and Technology Forum (IUSSTF), Scientific and Engineering Research Board (SERB), Wadhwani foundation, Biotechnology Industry Research Assistance Council (BIRAC), Tata Center for Technology and Design (TCTD) etc.
        
       </p>
         
      </div>
    </div>
  </div>

</section>



      <section id="speakers-details" style="margin-top: -100px;">
       
         
        <div class="section-header">
          <h2 style="margin-top: 80px;">Keynote Speakers</h2>
          
        </div>
  
          <div class="row">
           
            <div class="col-lg-4 col-md-12">
              <img style="height: 290px;width: 90%;" src="/img/speakers/7.jpg" alt="Speaker 1" class="img-fluid">
            </div>
  
            <div class="col-lg-8 col-md-12">
              <div class="details">
                    <h2 style="margin-top: 0px;">  Prof. Canan Varlikli</h2>
                <div class="social">
       
                  <a  target="_blank"  href="https://scholar.google.com.tr/citations?user=DVtP_swAAAAJ&hl=tr"><img src=<%=a%>></a>

                <a target="_blank" href="https://tr.linkedin.com/in/canan-varlikli-6231414a"><img src=<%=c%>></a>
                <a  target="_blank"  href="https://orcid.org/0000-0002-1081-0803"><img src=<%=b%>></a>
                 
                </div>
                <p style="text-align: justify;"> 
                  Canan Varlikli is a Professor in the department of photonics, Izmir Institute of Technology Turkey. She has done PhD from Ege Univ. ,Sci. Inst in 2003,  MSc from Dokuz Eylül Univ. Buca, Sci. Inst. and BSc, from  Dokuz Eylül Univ. Buca Edu Fac.Varlikli established her research group in 2005 at Ege University and moved to Izmir Institute of Technology, Department of Photonics in 2016. Research interests of this group comprise, New materials for light absorption (quantum dots, organometallic compounds, polymers, small molecules) emission and amplification; DSSCs; OPVs; OLEDs; Photophysical studies of organic semiconductors; Heterogeneous photocatalysis and adsorption for water purification.Canan Varlıklı awarded third prize in Paints and Adhesives category of 9th Chemicals and Products Sector R&D Market Event organized by İstanbul Chemicals and Products Exporters’ Association with the project title of “Organic Semiconductor Based Light Absorber, Emitter and Frequency Down Converter Materials for Photonic Technologies”. 
                  </p>
                 
              </div>
            </div>
  </div>
  
  <div class="row" style="margin-top: 80px;">
   
    <div class="col-lg-4">
      <img style="height: 290px;width: 90%;" src="/img/speakers/8.jpg" alt="Speaker 2" class="img-fluid">
    </div>
  
    <div class="col-lg-8">
      <div class="details">
            <h2 style="margin-top: 0px;"> Prof. Ceylan Zafer</h2>
        <div class="social">
  
       
          <a target="_blank"  href="https://scholar.google.co.in/citations?user=javRSGUAAAAJ&hl=en"><img src=<%=a%>/></a>
          <a target="_blank" href="https://orcid.org/0000-0002-6527-4382"><img src=<%=b%>/></a>
          <a target="_blank" href="https://www.linkedin.com/in/ceylan-zafer-a7827944/?originalSubdomain=tr"><img src=<%=c%>/></a>
  
        </div>
        <p style="text-align: justify;"> 

           Ceylan Zafer is a Professor in Energy Technology department in Solar Energy Institute, Ege University, Turkey. His research interests lie in the area of solution processable organic/hybrid materials for opto-electronic devices. These semiconductor materials possess a viable platform for printed, large area, flexible and wearable electronics that can be used as solar cells, smart windows, OLEDs, OFETs, sensors and bio-electronics, photo-catalysts. Professor Zafer is particularly interested in interface engineering for organic/hybrid solar cells, perovskite solar cells, dye sensitized solar cells, transparent solar cells for building integrated photovoltaics and stability/degradation studies for long lifetime perovskite and organic solar cells.He has led projects on i) Donor-Acceptor LOw Band gap conjugated polymers for organic solar; ii) non-fullerene acceptors as ETL for perovskite solar cells; iii) upscaling and module fabrication of perovskite solar cells; and iv) Quantum Dot/conjugate polymer composites for opto-electronic devices.
       </p>
         
      </div>
    </div>
  </div>



  <div class="row" style="margin-top: 80px;">
   
    <div class="col-lg-4">
      <img style="height: 290px;width: 90%;" src="/img/invitedSpeakers/11.jpg" alt="Speaker 2" class="img-fluid">
    </div>
  
    <div class="col-lg-8">
      <div class="details">
            <h2 style="margin-top: 0px;"> Prof. Praveen C. Ramamurthy</h2>
        <div class="social">
  
       
          <a target="_blank"  href="https://scholar.google.co.in/citations?user=C2GFGVsAAAAJ&hl=en"><img src=<%=a%>/></a>
          
          <a target="_blank" href="https://www.linkedin.com/in/praveencramamurthy?originalSubdomain=in"><img src=<%=c%>/></a>
          
          <a   target="_blank"  href="https://materials.iisc.ac.in/~praveen/"><img style="height:24px;width:24px;background:transparent" class="iconImage" src="/img/ic.png"></a>

  
        </div>
        <p style="text-align: justify;"> 

          Praveen C. Ramamurthy received the M.Sc. degree in polymer science from the University of
          Mysore, Mysore, India, in 1994, and the Ph.D. degree in textile fibres and polymer science
          from Clemson University, Clemson, SC, USA, in 2004., He joined Hoku Scientific,
          Honolulu, HI, USA, as a Research Scientist. He then was a Senior R&amp;D Engineer with
          Therm-O-Disc, Mansfield, OH, USA, from 2004 to 2007. He joined the Indian Institute of
          Science (IISc), Bengaluru, India, in 2007, where he is currently a Professor in the Department
          of Materials Engineering. <br>
          His research interest lies in the area of Electroactive polymers, Nanocomposite, Organic
          nanoelectronics, and sensors. Area of polymer electronics like Schottky diode, FET, OPVD,
          and sensors, with the current focus on the elucidation of the structure-property relationship of
          polymers to the performance of the devices and functionalization of nanocomposites. He has
          co-authored more than 160 publications and 18 patents.
       </p>
         
      </div>
    </div>


    

  </div>

  <div class="row" style="margin-top: 80px;">
   
    <div class="col-lg-4">
      <img style="height: 290px;width: 90%;" src="https://www.iitg.ac.in/chemistry/fac/pki/2.jpg" alt="Speaker 2" class="img-fluid">
    </div>
  
    <div class="col-lg-8">
      <div class="details">
            <h2 style="margin-top: 0px;"> Prof. Parameswar Krishnan Iyer</h2>
        <div class="social">
  
       
          <a target="_blank"  href="https://scholar.google.co.in/citations?user=Y2aowXAAAAAJ&hl=en"><img src=<%=a%>/></a>
         
  
        </div>
        <p style="text-align: justify;"> 
          Prof.Parmeswar K. Iyer, a is eminent Professor  at IIT-Guwahati. He has done his PhD from Silicates and Catalysis Division, Central Salt & Marine Chemicals Research Institute, Bhavnagar, India.
          His research are focused on the area of Organic and Polymer synthesis, Bio and
          Chemo sensors, Optoelectronic devices, he has Published 172 Journal Articles and 3 Book
          Chapter. Prof. Iyer and his research group have developed the devises a 2D-3D perovskite which are capable of enhanced charge transport. Prof. Iyer group is focused broadly on designing and fabricating functional material with controlled composition and architecture. Our consistent endeavor involves in synthesizing and exploring unique physical properties of novel advanced materials, and to exploiting these structures to design powerful new tools having application in organic electronics, chemical
          and biological sensors and brain therapeutics. Our group is divided into three main sub-
          groups with a rich and overlapping set of interests. His Area of research are Organic
          Electronics Sensors Brain Science They make various types of materials including
          nanoparticles, polymer, small molecules which has an application to inhibit amyloid beta
          fibrillation
       </p>
         
      </div>
    </div>


    

  </div>
  
        </section>
  </div>

<%-include('partials/footer')%>